.cart{
   display: flex;
   gap: 32px;
   flex-grow: 1;
}

main .main__container .cart .cart__wrapper{
   display: flex;
   flex-direction: column;
   gap: 40px;
   width: 891px;
}

main .main__container .cart .cart__wrapper .cart__container{
   display: flex;
   flex-direction: column;
}

.cart .cart__wrapper .cart__container h1{
   margin: 30px 0 24px;
   font-size: 28px;
}

.cart-accord__header{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.header__input .header__input-p{
   display: none;
}

.header__input .header__input-p.isActive{
   display: block;
}

.cart-accord__header .header__input label{
   display: none;
   align-items: center;
   gap: 11px;
   cursor: pointer;
   font-weight: 400;
   line-height: 24px;
}

.cart-accord__header .header__input label.isActive{
   display: flex;
}

.cart-accord__header .header__title{
   font-size: 16px;
   font-weight: 600;
}

.cart-accord__header .header__arrow{
   transform: rotate(180deg);
   transition: 0.3s ease-in all;
}

.cart-accord__header .header__arrow > img.active{
   transform: rotate(180deg);
}

.cart-accord .cart__accord-main{
   display: none;
}

.cart-accord .cart__accord-main.active{
   display: block;
}

.cart-accord .cart__accord-main .cart-block{
   display: flex;
   flex-direction: column;
   margin-top: 7px;
   gap: 34px;
}

.cart-block .cart__item{
   display: flex;
   justify-content: space-between;
}

.cart-block .cart__item .cart__item-left, .cart-block .cart__item .cart__item-right{
   display: flex;
}

.cart-block .cart__item .cart__item-left{
   gap: 16px;
   align-items: flex-start;
}

.cart-block .cart__item .cart__item-left .cart__item-checkbox{
   display: flex;
   align-items: center;
   gap: 16px;
}

.cart__item .cart__item-right{
   gap: 16px;
}

.cart-block .cart__item .cart__item-info{
   display: flex;
   flex-direction: column;
   gap: 8px;
   font-weight: 400;
   max-width: 275px;
}

.cart__item-info .info__name{
   font-size: 16px;
   cursor: pointer;
}

.cart__item-info .info__color-block{
   font-size: 13px;
   display: flex;
   align-items: center;
   gap: 16px;
}

.cart__item-info .info__footer{
   font-size: 13px;
   color: gray;
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.cart__item-info .info__footer .info__company-name{
   display: flex;
   align-items: center;
   gap: 8px;
}

.info__company-name-info{
   position: relative;
}

.info__company-name-info > p{
   width: 16px;
   height: 16px;
   border: 1px solid gray;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   cursor: pointer;
}

.info__company-name-info .info__company-name-modal{
   position: absolute;
   display: none;
   min-width: 280px;
   border-radius: 8px;
   padding: 6px 16px;
   background: white;
   color: black;
   box-shadow: 0px 0px 1px 0px #0000004D;
   box-shadow: 0px 2px 10px 0px #00000026;
   top: 20px;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 9999;
}

.info__company-name-info:hover .info__company-name-modal{
   display: block;
}

.info__company-name-modal .modal__container{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.cart__item-additive-action{
   display: flex;
   flex-direction: column;
   gap: 8px;
}


.cart__item-additive-action .cart__item-counter{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 8px;
   height: 44px;
   width: 100px;
   font-size: 20px;
   background-color: white;
   border-radius: 8px;
}

.cart__item-counter .counter__minus, .cart__item-counter .counter__plus{
   width: 24px;
   height: 24px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
   cursor: pointer;
} 

.cart__item-additive-action .cart__item-attention{
   display: none;
   font-size: 13px;
   color: #FF3B30;
}

.cart__item-additive-action .cart__item-attention.isActive{
   display: block;
}

.cart__item-icons{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 16px;
}

.cart__item-price{
   display: flex;
   flex-direction: column;
   gap: 5px;
   width: 120px;
}

.cart__item-price .price__current{
   font-weight: 700;
   font-size: 16px;
   align-self: flex-end;
   font-weight: 700;
}

.price__current .price__current-number{
   font-size: 20px;
   letter-spacing: -1.5px;
}

.price__previous{
   text-decoration: line-through;
   color: gray;
   border-bottom: 1px dashed gray;
   font-size: 13px;
   align-self: flex-end;
}

.price__previous .price__previous-number{
   position: relative;
   cursor: pointer;
}

.price__previous .price__previous-number .price__previous-modal{
   display: none;
   background: #FFFFFF;
   box-shadow: 0px 0px 1px 0px #0000004D;
   box-shadow: 0px 2px 10px 0px #00000026;
   padding: 11px 16px 13px;
   position: absolute;
   border-radius: 8px;
   min-width: 250px;
   top: 19px;
   right: -5px;
} 

.price__previous-number .price__previous-modal .modal__body{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.price__previous-modal .modal__body p{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 13px;
   font-weight: 400;
}

.price__previous-modal .modal__body p:first-child{
   margin-bottom: 8px;
}

.price__previous-modal .modal__body p span:last-child{
   color: black;
}

.price__previous-number:hover .price__previous-modal{
   display: block;
}

.cart__miss-block .cart__accord-main .cart-block .cart__item .cart__item-left{
   filter: grayscale(100%);
   color: gray;
}

.cart__miss-block .cart__item .cart__item-right{
   width: 190px;
}

.cart__delivery-block{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.cart__delivery-block h2{
   font-size: 24px;
}

.cart-flex{
   display: flex;
   flex-direction: column;
   gap: 24px;
   padding: 16px 0 24px;
   background: #FFFFFF;
   border-radius: 16px;
}

.cart__delivey-wrapper .cart__delivery-info{
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 0 24px;
}

.cart__delivery-container{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.main__title{
   font-size: 24px;
   font-weight: 700;
   letter-spacing: -1px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 24px;
}

.subtitle{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.subtitle li{
   display: flex;
   gap: 32px;
}

.subtitle > li{
   padding-left: 24px;
   align-items: center;
}

.subtitle li > p:first-child{
   width: 153px;
}

.subtitle li > p:first-child, .delivery__date{
   font-weight: 600;
}

.subtitle .delivery__date{
   margin-bottom: 24px; 
}

.subtitle li > p:last-child{
   padding: 0 24px 0 0;
}

.subtitle .delivery__product{
   position: relative;
}

.subtitle #delivery__point{
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.subtitle #delivery__point p:last-child{
   display: flex;
   align-items: center;
   gap: 8px;
}

.rating{
   display: none;
}

.rating.active{
   display: inline;
}

.rating.active::before{
   content: url('../images/icons/star.svg');
   margin-right: 4px;
}

.subtitle .delivery__products{
   display: flex;
   align-items: center;
   gap: 8px;
}

.delivery__products .delivery__products-notification{
   box-sizing: content-box;
   right: -8px;
   padding: 0 3px;
}

.cart__delivery-pay{
   padding: 16px 24px 24px 24px;
}

.pay__container .main__title{
   padding: 0;
}

.pay__card{
   display: flex;
   align-items: center;
   gap: 8px;
}

.pay__card .pay__card-info{
   display: flex;
   align-items: center;
   gap: 12px;
}

.cart__delivery-pay .pay-info{
   display: none;
   font-size: 13px;
}

.cart__delivery-pay .pay-info.isVisible{
   display: block;
}

.cart-form{
   padding: 16px 24px 24px 24px;
}

.cart-form .main__title{
   padding: 0;
}

.cart-form form{
   height: 128px;
   display: flex;
   flex-direction: column;
}

.cart-form form .form__start, .cart-form form .form__end{
   display: flex;
   gap: 24px;
}

.cart-form form .form__start .form__input, .cart-form form .form__end .form__input{
   flex-grow: 1;
}

.cart-form form .form__input .form__input-container{
   border-bottom: 1px solid #00000033;
   min-width: 100%;
}

.cart-form form .form__input.error .form__input-container{
   border-bottom: 1px solid #F55123;
}

.cart-form form .form__input .form__input-container input[type="text"]{
   width: 100%;
   font-size: 16px;
   font-weight: 400;
   padding: 4px 0;
}

.cart-form form .form__input.error .form__input-container input[type="text"]{
   color: #F55123;
}

.cart-form form .form__input .form__input-container input[type="text"]::placeholder{
   color: gray;
   font-size: 16px;
   font-weight: 400;
}

.cart-form form .form__input label{
   font-size: 13px;
   font-weight: 400;
   color: gray;
   opacity: 0;
}

.cart-form form .form__input label.isVisible{
   opacity: 1;
}

.cart-form form .form__input span{
   font-size: 12px;
   display: none;
}

.cart-form form .form__input span.isVisible{
   display: inline;
}

.cart-form form .form__input p{
   opacity: 0;
}

.cart-form form .form__input.error p{
   font-size: 12px;
   font-weight: 400;
   color: #F55123;
   opacity: 1;
}

@media (max-width: 1200px) {
   main .main__container .cart .cart__wrapper{
      max-width: 640px;
   }
}

@media (max-width: 920px) {
   .cart{
      flex-direction: column;
   }
}

@media (max-width:690px) {
   main .main__container .cart .cart__wrapper{
      width: auto;
   }

   .cart .cart__wrapper .cart__container h1{
      margin: 8px 0 12px;
      font-size: 20px;
   }

   .cart__container .cart__item{
      flex-direction: column;
      position: relative;
   }

   .cart__container .cart__item .cart__item-right{
      flex-direction: column;
   }

   .cart__container .cart__item .cart__item-info{
      margin-top: 20px;
   }

   .cart__container .cart__item .cart__item-checkbox{
      position: relative;
   }

   .cart__container .cart__item .cart__item-checkbox input[type="checkbox"]{
      position: absolute;
      top: 2px;
      left: 2px;
   }

   .cart__container .cart__item .cart__item-right .cart__item-additive-action, .cart__container .cart__item .cart__item-right .cart__item-price{
      flex-direction: row;
      align-items: center;
   }

   .cart__container .cart__item .cart__item-right .cart__item-additive-action{
      max-width: 296px;
      justify-content: space-between;
   }

   .cart__item-price .price__current, .cart__item-price .price__previous .price__previous-number > p{
      display: flex;
      align-items: center;
      gap: 6px;
   }

   .cart__item-price .price__previous {
      align-self: center;
   }

   .cart__item-price{
      position: absolute;
      top: -6px;
      left: 88px;
      width: 100%;
   }

   .price__previous .price__previous-number .price__previous-modal{
      right: 50%;
      transform: translate(50%, 0);
   }

   .cart__miss-block .cart-block .cart__item{
      flex-direction: column;
      max-width: 300px;
   }

   .cart__miss-block .cart-block .cart__item .cart__item-right{
      width: auto;
      align-self: flex-end;
   }

   .cart__miss-block .cart-block .cart__item .cart__item-right .cart__item-additive-action{
      align-self: flex-end;
   }

   .cart-form form{
      height: auto;
   }

   .cart-form form .form__start, .cart-form form .form__end{
      flex-direction: column;
      gap: 16px;
   }

}

@media (max-width: 600px) {

   .cart__delivery-container .cart__delivery-subtitle{
      flex-direction: column;
      position: relative;
   }

   .cart__delivery-container .cart__delivery-subtitle .subtitle__left{
      gap: 36px;
   }

   .cart__delivery-container .cart__delivery-subtitle .subtitle__right{
      position: absolute;
      top: 20px;
      left: 24px;
      gap: 40px;
   }

   .subtitle__left .delivery__date:last-child{
      margin-top: 20px;
   }

   .subtitle__right #delivery__point p:last-child{
      font-size: 13px;
   }

   .cart__delivey-wrapper .cart__delivery-info{
      margin-top: 40px;
   }
}

@media (max-width: 414px){
   main .main__container .cart .cart__wrapper .cart__container, main .main__container .cart .cart__wrapper .cart__miss-block{
      padding: 0 16px;
   }

   .cart__container .cart__item:not(:first-child){
      padding-top: 16px;
      border-top: 1px solid gray;
   }

   .cart__container .cart__item:not(:first-child) .cart__item-price{
      top: 10px;
   }

   .cart__item-info .info__name{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
   }

   .info__company-name-info .info__company-name-modal{
      left: 80%;
      transform: translate(-80%, 0);
   }

   .price__previous .price__previous-number .price__previous-modal{
      right: 10%;
      transform: translate(10%, 0);
   }

   .cart__delivery-container .cart__delivery-subtitle .subtitle__left{
      gap: 46px;
   }

   .cart__delivery-container .cart__delivery-subtitle .subtitle__right{
      gap: 50px;
   }

   .subtitle__left .delivery__date:last-child{
      margin-top: 6px;
   }

   .cart__delivey-wrapper .cart__delivery-info{
      padding: 0 16px;
   }

   .cart__delivey-wrapper .cart__delivery-info div:last-child{
      font-size: 13px;
   }
}

@media (max-width: 362px) {
   .cart__delivery-block h2{
      font-size: 20px;
   }

   .main__title{
      padding: 0 16px;
   }

   .pay__card{
      gap: 4px;
      font-size: 13px;
   }

   .cart__delivery-container .cart__delivery-subtitle .subtitle__right{
      gap: 40px;
   }
}

