.summary{
   background: white;
   border-radius: 16px;
   box-shadow: 0px 0px 1px 0px #0000004D;
   box-shadow: 0px 2px 10px 0px #00000026;
   padding: 16px 24px 24px 24px;
   margin: 30px 0 24px;
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.summary .summary__container{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.summary .summary__container .summary__price{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.summary__container .main__title{
   font-size: 16px;
   padding: 0;
}

.summary__price .summary__title{
   font-size: 24px;
   font-weight: 700;
}

.summary__price .summary__title, .summary__price .summary__info{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.summary__price .summary__info ul{
   display: flex;
   flex-direction: column;
}

.summary__price .summary__info ul:last-child li{
   text-align: right;
}

.summary__price .summary__info ul li{
   font-size: 16px;
   font-weight: 400;
}

.summary__delivery{
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.summary__delivery .summary__delivery-container{
   display: flex;
   flex-direction: column;
   gap: 4px;
}

.summary__delivery .cart__delivery-info{
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 13px;
}

.summary__pay .cart__delivery-pay{
   padding: 0;
}

.summary__pay .cart__delivery-pay .pay__info-block{
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.summary__pay .cart__delivery-pay .pay__info-block .pay__info-checkbox{
   display: flex;
   align-items: center;
   gap: 8px;
   font-size: 13px;
}

.summary__additional{
   display: flex;
   flex-direction: column;
   gap: 12px;
   font-size: 13px;
}

.summary__additional-agree{
   display: flex;
   align-items: flex-start;
   gap: 8px;
   max-width: 381px;
}

.summary__additional-agree img{
   margin-top: 4px;
}

.summary input[type="checkbox"]{
   border: 1px solid #00000033;
   outline: none;
   cursor: pointer;
}

.summary input[type="checkbox"]:checked{
   border: 1px solid #CB11AB;
}

/* min-width: 100%; */



